<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    {{{body}}}
</body>
</html>


<style>
    body {
        margin: 0;
        padding: 5em;
        font-family: system-ui;
    }

    section {
        margin: 2em 0;
        padding: 1em;
        border: 1px solid #666;
        border-radius: 12px;
    }
    section > h2 {
        margin: 0 0 1em;
    }

    table {
        border-collapse: collapse;
    }
    table>thead {
        height: 2em;
        box-shadow: 0 1px #666;
    }
    table>thead>tr>th {
        width: 30%;
        text-align: left;
    }
    table>tbody>tr:hover:not(.noHover) {
        background: #ebebeb;
        cursor: pointer;
    }
    table>tbody>tr {
        height: 2em;
    }
</style>

<style>
    .createForm {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 3em;
        padding-top: 1em;
        border-top: 1px solid #666;
    }
    .createForm > h3 {
        margin: 0;
    }

    .userInteract {
        font-size: 13px;
        letter-spacing: 1.2px;
        text-decoration: none;
        position: relative;
        padding: .7em 1.2em;
        border-radius: 6px;
        border: 1px solid #666;
    }

    .createForm > form > button {
        text-align: center;
        background: #1d87f1;
        color: white;
        border: none;
    }
</style>