<h1>Companies</h1>

<section>
    <table style="width: 100%;">
        <thead>
            <tr><th>Name</th><th>LogoURL</th></tr>
        </thead>
        <tbody>
            {{#each company}}
                <tr onclick="window.location='http://localhost:2053/company/{{this.id}}'">
                    <td>{{this.name}}</td>
                    <td>{{this.logoURL}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>


    <div class='createForm'>
        <h3>Create a Company</h3>
        <form action='/companies' method='post'>
            <input class='userInteract' type='text' name='name' placeholder='Name...' required='true'>
            <input class='userInteract' type='text' name='logoURL' placeholder='Logo URL...' required='true'>
            <button class='userInteract' type='submit'>Submit Company</button>
        </form>
    </div>
</section>
